<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601775564241-t0r3lt5a8je9rr5rceq70s6ogh3tcauu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601775564241-t0r3lt5a8je9rr5rceq70s6ogh3tcauu</string>
	<key>API_KEY</key>
	<string>AIzaSyA_wDyLpze6vKrMjhLJLfyqcVqvT4iSLo8</string>
	<key>GCM_SENDER_ID</key>
	<string>601775564241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miau2020.apk</string>
	<key>PROJECT_ID</key>
	<string>miaumall-e4eb3</string>
	<key>STORAGE_BUCKET</key>
	<string>miaumall-e4eb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601775564241:ios:0ea331d3a08708b35f6cf0</string>
</dict>
</plist>