<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>miaumall-master</string>
			</array>
		</dict>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>“MiauMall”将在设置头像时访问使用相机 需要您的同意</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>&quot;MiauMall&quot;请求访问您的媒体资料库 需要您的同意</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>&quot;MiauMall&quot;将在设置头像时访问您的相册 需要您的同意</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>“MiauMall”为您添加图片 需要您的同意</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>&quot;MiauMall&quot;需要获取您设备的广告标识符，以为您提供更好的广告体验</string>
	<key>UIUserInterfaceStyle</key>
	<string>UIUserInterfaceStyleLight</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
